# Folders #
###########
bin/
__pycache__/

# Logs, Data, and Databases #
#############################
*.log
*.csv
*.dss
*.sql
*.sqlite
*.db
*.xlsx

# Compiled Source #
###################
*.dll
*.pyc

# Other #
#########
*.txt

# Exceptions #
##############
!bin/README.rst
